#card{
  background-color: #f5eeee;
  border-radius: 10px;
}

#card-body {
  box-shadow: '0 10px 20px 0 rgb(0 0 0 / 20%';
}

.button {
  background-color: #f5eeee; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#td {
  text-align: left;
}